PORT=7000
TMDB_API_KEY=
TMDB_LANGUAGE=vi-VN
TMDB_REGION=VN
KKPHIM_API=https://phimapi.com
REQUEST_TIMEOUT_MS=12000
AIOSTREAMS_MANIFEST_URL=
TORBOX_MANIFEST_URL=
COMET_MANIFEST_URL=
MEDIAFUSION_MANIFEST_URL=
TORRENTIO_MANIFEST_URL=
UPSTREAM_ADDON_URLS=
MAX_STREAMS_PER_RESOLUTION=6
MAX_STREAMS_TOTAL=30
MAX_SIZE_GB=0
STREAM_PRESET=balanced
STRICT_MATCHING=true
REMOVE_CAM=true
DEFAULT_SUBTITLE_MANIFEST=https://opensubtitles-v3.strem.io/manifest.json
SUBTITLE_ADDON_URLS=
