PORT=7000
TMDB_API_KEY=
TMDB_LANGUAGE=vi-VN
TMDB_REGION=VN
KKPHIM_API=https://phimapi.com
REQUEST_TIMEOUT_MS=12000
HEALTH_TIMEOUT_MS=6000
TMDB_TIMEOUT_MS=4500
KKPHIM_TIMEOUT_MS=5000
STREAM_PROVIDER_TIMEOUT_MS=6500
SUBSENSE_TIMEOUT_MS=6500
OPENSUBTITLES_TIMEOUT_MS=4500
OTHER_PROVIDER_TIMEOUT_MS=12000
TMDB_CACHE_TTL_MS=1800000
IDENTITY_CACHE_TTL_MS=21600000
CIRCUIT_FAILURE_THRESHOLD=3
CIRCUIT_COOLDOWN_MS=300000
STREAM_RESPONSE_BUDGET_MS=5500
STREAM_EARLY_RESULT_COUNT=20
ADMIN_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
SHARE_STORAGE_PREFIX=webphim:v5
SHARE_ID_LENGTH=6
PUBLIC_SIGNUP=true
SHARE_CREATE_LIMIT_PER_HOUR=20
SHARE_CACHE_TTL_MS=30000
AIOSTREAMS_MANIFEST_URL=
TORBOX_MANIFEST_URL=
COMET_MANIFEST_URL=
MEDIAFUSION_MANIFEST_URL=
TORRENTIO_MANIFEST_URL=
UPSTREAM_ADDON_URLS=
MAX_STREAMS_PER_RESOLUTION=6
MAX_STREAMS_TOTAL=30
MAX_SIZE_GB=0
STREAM_PRESET=balanced
DEVICE_PROFILE=auto
PREFERRED_CODEC=auto
PREFERRED_AUDIO=auto
PROVIDER_PRIORITY=kkphim-first
HOME_ROWS=home-hot,home-top10,home-new-movies,home-new-series,home-animation,home-korean,home-horror,home-action
STRICT_MATCHING=true
REMOVE_CAM=true
PREFER_CACHED=true
ONLY_CACHED=false
DEFAULT_SUBTITLE_MANIFEST=https://opensubtitles-v3.strem.io/manifest.json
SUBSENSE_MANIFEST_URL=
SUBTITLE_ADDON_URLS=
SUBTITLE_LANGUAGES=vie,vi,eng,en
SUBTITLE_FALLBACK_ALL=false
SUBTITLE_STRICT_MATCHING=true
MAX_SUBTITLES_PER_LANGUAGE=8
SUBTITLE_PREFER_NON_HI=true
