PORT=7000
KKPHIM_API=https://phimapi.com
REQUEST_TIMEOUT_MS=10000
MANIFEST_CACHE_MS=900000
AIOSTREAMS_MANIFEST_URL=
TORBOX_MANIFEST_URL=
COMET_MANIFEST_URL=
MEDIAFUSION_MANIFEST_URL=
TORRENTIO_MANIFEST_URL=
UPSTREAM_ADDON_URLS=
MAX_STREAMS_PER_RESOLUTION=6
MAX_STREAMS_TOTAL=30
MAX_SIZE_GB=0
